<header class="container-fluid bg-primary d-flex justify-content-center">
    <p class="text-light mb-0 p-2 fs-6">Contact Us 1-(305)-725-1000</p>
</header>

<nav class="navbar navbar-expand-lg" id="menu">
    <div class="container-fluid">
        <a class="navbar-brand text-primary fs-3 fw-bold" href="#">Travel Vist</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../pages/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-about" href="#about-us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-destinations" href="#popular-destinations">Popular Destinations</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <button class="btn btn-primary btn-primary-outline-success" type="button">
                    <a href="../pages/cart.html"><i class="bi bi-cart text-light fs-3"></i></a>
                </button>
            </form>
        </div>
    </div>
</nav>